<head>
  <title>Analisis de Trafico</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% include partials/_headRes %>
</head>

<body class="text-center">
  <!-- Navbar -->
  <% include partials/_header %>
  <!-- Intro -->
  <div class="py-5">
    <div class="container my-5">
      <div class="row mx-auto">
        <div class="col-md-12">
          <h1 class="mb-3">Analisis de Tráfico en Diferentes Ciudades del Mundo</h1>
          <p class="">Página web creada con el objetivo de facilitar el analisis y visualización de datos de trafico recolectados en Waze pertenecientes a diferentes ciudades del mundo.<br></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Cities -->
  <div class="" id="cities">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-4">Ciudades<br></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-lg-4 bg-light animate-in-down">
          <a href="/busqueda/cdmx">
            <img src="../resources/view/assets/cities/cdmx_1.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0">
              <font color="#202020"><b>CDMX</b></font>
            </h3>
            <p class="text-muted">Mexico</p>
          </a>
        </div>
        <div class="col-6 col-lg-4 bg-info animate-in-down">
          <a href="/busqueda/lacountry">
            <img src="../resources/view/assets/cities/lacountry_1.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>LA Country</b><br></h3>
            <p class="text-dark">United States of America<br></p>
          </a>
        </div>
        <div class="col-6 col-lg-4 bg-secondary animate-in-down">
          <a href="/busqueda/paris">
            <img src="../resources/view/assets/cities/paris_1.jpeg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>Paris</b></h3>
            <p class="text-white">France<br></p>
          </a>
        </div>
        <div class="col-6 col-lg-4 animate-in-down">
          <a href="/busqueda/abudhabi">
            <img src="../resources/view/assets/cities/abudhabi_1.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>Abu Dhabi</b></h3>
            <p class="text-muted">UAE<br></p>
          </a>
        </div>
        <div class="col-6 col-lg-4 bg-primary animate-in-down">
          <a href="/busqueda/brasilia">
            <img src="../resources/view/assets/cities/brasilia_1.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>Brasilia</b></h3>
            <p class="">Brazil</p>
          </a>
        </div>
        <div class="col-6 mask col-lg-4 bg-dark animate-in-down">
          <a href="/busqueda/madrid">
            <img src="../resources/view/assets/cities/madrid_1.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>Madrid</b></h3>
            <p class="">Spain<br></p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Schedule -->
  <!-- Sponsor logos -->
  <div class="py-5 section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-4" contenteditable="true">Créditos<br></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-6">
          <img class="center-block img-fluid d-block" src="../resources/view/assets/logos/nodejs.png"> </div>
        <div class="col-md-3 col-6">
          <img class="center-block img-fluid d-block" src="../resources/view/assets/logos/mongo.png"> </div>
        <div class="col-md-3 col-6">
          <img class="center-block img-fluid d-block" src="../resources/view/assets/logos/leaflet.png"> </div>
        <div class="col-md-3 col-6">
          <img class="center-block img-fluid d-block" src="../resources/view/assets/logos/uami.png"> </div>
      </div>
    </div>
  </div>
  <!-- Call to action -->
  <!-- Footer -->
  <% include partials/_footer %>
  <% include partials/_footRes %>
</body>
